<div class="row">
  <div id="newsfeed" class="col-lg-6">
    <h1><%= fa_icon "newspaper-o" %> NEWSFEED</h1>
    <div id="activities">
      <% if @activities.empty? %>
        <div class="well">
          <%= render('shared/no_resource', resources: 'Activities') %>
        </div>
      <% else %>
        <%= render_activities(@activities, layout: '/shared/activity') %>
      <% end %>
    </div>
    <%= render 'shared/paginate', resources: @activities %>
  </div>
  <div id="intro" class="col-lg-6">
    <h1><%= fa_icon "star" %> TimePass <%= fa_icon "star" %></h1>
    <p>TimePass is an open source social networking app written using <%= fa_icon 'diamond' %> Ruby on Rails. You can checkout the blog <a href="https://github.com/ammu0001/TimePass.git">Visit</a> on how
    it was developed and also the source code on <a href="https://github.com/ammu0001/TimePass"><%= fa_icon 'github' %> Github</a>.</p>
    <hr>
    <a href="https://github.com/ammu0001/TimePass" class="btn btn-danger">
      <%= fa_icon 'star' %> Star it
    </a>
    <a href="https://github.com/ammu0001/TimePass" class="btn btn-success">
      <%= fa_icon 'github' %> GitHub
    </a>
  </div>
</div>
